.popUp-window {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(245, 245, 220, 0.524);
    height: 100%;
    width: 100%;
}

.popUp-content-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 15rem;
    width: 15rem;
    background-color: pink;
}

.mark-done {
    text-decoration: line-through
}